strong {color: purple;}
em {color: blue;}
body {background:  pink;}



h1
{
	text-align: center;
	border: 10px solid;
} 
h2 
{text-align: center;}
 ul {display: inline-block;
 	vertical-align: top;
width: 20%;
margin-right: 15%;
border: 10px solid;
}

#missão{
	font-size: 40 px;
}
#banner{
	width:100%;
}
.principal{background: #CCCCCC;
 padding: 30px}

.itens {font-style: italic}
.beneficios{background:#FFFFFF;
padding: 20px;}
.imagenbeneficios{width: 30%;}
.titulo-principal {
    padding-left: 20px;
}













